/* !!!!!! Estilos del login para la version escritorio */

/* Navbar */
nav {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Elemento hijo (img) del elemento padre (nav) */
nav img {
    width: 200px;
    height: auto;
}

/* Contenedor padre para los elementos del login  */
.container-main-form {
    display: grid;
    place-content: center;
    height: 75vh;
}

/* Wrapper */

/* Contenedor hijo para los elementos del login */
.container-form {
    width: 450px;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.295);
}

/* !!!!!!  Estilos del login para la version movil */
@media only screen and (max-width: 600px) {

    /* Wrapper */

    /* Contenedor hijo para los elementos del login */
    .container-form {
        width: 310px;
        padding: 20px 20px;
    }

    /* Hacer la leyenda de olvido de cuenta mas pequeña */
    #leyenda-problemas-cuenta {
        font-size: 15px;
    }
}